<h2><%= @user.name %></h2>

<p><%= @user.email %></p>

<hr>

<p><%= link_to "Available Courses", courses_path %></p>
<p><%= link_to "My Enrollments", user_enrollments_path(current_user.id) %></p>

<p><%= link_to "Edit Account", edit_user_path(@user) %></p>

<hr>
