<h1>Details of your enrollment</h1>
<h2><%= @enrollment.course.title %></h2>

<p><%= @enrollment.course.description %></p>

<%= form_for @enrollment, url: user_enrollment_path, method: 'delete' do |f| %>
  <%= f.submit "Drop This Course", id: "destroy" %>
<% end %>

<%= link_to "Back to Enrollments", user_enrollments_path %>

