<h2><%= @course.title %></h2>
<p><%= @course.description %></p>

<% if signed_in? %>
  <% if !current_user.courses.include? @course %>

    <%= form_for [@course, @enrollment] do |f| %>
      <%= f.submit "Register" %>
    <% end %>

  <% end %>
<% end %>

<%= link_to "Back to Courses", courses_path %>
